#contact_modal {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.452);
}

.photograph-header {
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover {
    background-color: #D3573C;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    transform: translate();
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.modal header {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.modal header img {
    cursor: pointer;
    width: 32px;
}

.modal header h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 24px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 5px;
}

form textarea{
    width: 100%;
    height: 120px;
    resize: none;
    border: none;
    border-radius: 5px;
}
.photograph-header :nth-child(1){
    order: 2;
}
.photograph-header :nth-child(2){
    order: 1;
}
.photograph-header :nth-child(2) h1{
    color: #D3573C;
    font-size: 36px;
    margin: 10px 0;
}
.photograph-header :nth-child(2) h2, #list_publication .publication h2{
    color: #D3573C;
    font-size: 20px;
    margin: 5px 0;
    font-weight: normal;
}
.photograph-header :nth-child(2) span{
    font-weight: none !important;
}
.photograph-header img{
    order: 3;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    object-fit: cover;
}
#publication{
    margin: 20px 100px;
    display: flex;
    flex-direction: column;
}
#publication .container{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 125px;
    width: 100%;
}
#publication label{
    font-weight: bold;
}
#publication .dropbox{
    margin: 0;
    z-index: 1;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 180px;
    transform: translate(0, -25px);
    margin-left: 15px;
    
}#publication .dropbox::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    right: -10px;
    z-index: 2;
    top: 22px;
    transition: transform .5s, top .5s;
}#publication .dropbox.active::before{
    transform: rotate(-135deg);
    top: 18px;
}
#publication .dropbox input{
    position: absolute;
    top: 0;
    padding: 15px 20px;
    font-size: 17px;
    font-weight: bold;
    left: 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background: #901C1C;
    outline: none;
    box-shadow: 0 4px 6px #00000085;
    font-family: "DM Sans", sans-serif;
    width: 100%;
}
#publication .dropbox input::placeholder{
    color: white;
}
#publication .dropbox .option{
    display: none;
    position: absolute;
    flex-direction: column-reverse;
    z-index: 1;
    width: 220px;
    background: #901C1C;
    border-radius: 8px;
    color: white;
    box-shadow: 0 4px 6px #00000085;
    overflow: hidden;
}
#publication .dropbox .option div{
    padding: 15px 20px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}
#publication .dropbox .option div:hover{
    background: #741111;

}
#publication .dropbox .option #popularity::after{
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 90%;
    left: 5%;
    top: 33%
}
#publication .dropbox .option #date::after{
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 90%;
    left: 5%;
    top: 66%
}
#publication .dropbox.active .option{
    display: flex;
}
#publication #list_publication{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}
#publication .publication{
    max-width: 30%;
    min-width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 2%;
}
#publication .publication img, #publication .publication video{
    object-fit: cover;
    width: 325px;
    height: 325px;
    border-radius: 5px;
    cursor: pointer;
}
#publication .publication .information-publication{
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #901C1C;
}
#publication .publication .information-publication i{
    margin-left: 2px;
    transition: all .7s;
}
#publication .publication .information-publication i:hover{
    cursor: pointer;
    margin-right: -3px;
    margin-left: 1px;
    margin-top: -1px;
    font-size: 20px;
    transition: all .7s;
}
#publication .publication .information-publication i.clicked{
    color: #D3573C;
    animation: rebond .7s;
}
@keyframes rebond{
    50% {
        margin-right: -1px;
        margin-left: 3px;
        font-size: 16px;
    }
}
#likeAndPrice{
    position: fixed;
    bottom: 0;
    right: 5%;
    display: flex;
    flex-wrap: row;
    max-width: 220px;
    min-width: 150px;
    justify-content: space-between;
    font-size: 17px;
    font-weight: bold;
    background-color: #DB8876;
    padding: 0px 20px;
    border-radius: 5px 5px 0 0;
}
#likeAndPrice i{
    margin: 0 5px;
}
#likeAndPrice #totalLike{
    margin-right: 35px;
}
#lightbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: #ffffffc2
}
#lightbox .menu{
    position: relative;
    z-index: 3;
}
#lightbox .menu #arrow-left{
    transform: rotate(180deg);
    left: 10px;
    width: 80px;
    height: 80px;
}
#lightbox .menu #arrow-right{
    right: 20px;
    width: 80px;
    height: 80px;
}
#lightbox .menu #arrow-left, #lightbox .menu #arrow-right{
    position: absolute;
    width: 120px;
    filter: invert(15%) sepia(97%) saturate(1697%) hue-rotate(348deg) brightness(79%) contrast(97%);
    top: calc(50vh - 40px);
    cursor: pointer;
}
#lightbox .menu #closeModal{
    position: absolute;
    width: 50px;
    height: 50px;
    filter: invert(14%) sepia(42%) saturate(4403%) hue-rotate(347deg) brightness(82%) contrast(98%);
    right: 50px;
    top: 30px;
    cursor: pointer;
}
#lightbox .view div{
    position: absolute;
    max-height: 95vh;
    max-width: 90vw;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
#lightbox .view img, #lightbox .view video{
    object-fit: cover;
    max-height: 85vh;
    max-width: 80vw;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(82, 82, 82, 0.616);
}
#lightbox .view h2{
    color: #D3573C;
    font-size: 24px;
    font-weight: normal;
}